//extra-extra-small smartphones (landscape view)
$screen-xxs-min: 280px;

//extra-small smartphones (landscape view)
$screen-xs-min: 280px;




//small smartphones (landscape view)
$screen-s-max: 350px;

//small-meddium smartphones (landscape view)
// $screen-sm-min: 414px;




//568px
$screen-sm-min: 568px;

//medium small tablets and large smartphones (landscape view)
$screen-ms-max: 767px;

//medium tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 962px;

// extra Large tablets and desktops
$screen-xl-min: 1024px;

// extra extra Large desktops
$screen-xxl-min: 1200px;
