
$color0:#6E57E0;
$color1:#77c4d3;
$color2:#daede2;
$color3:rgba(234,46,73,0.9);
$color4:#333;
$color5:rgba(246,247,146,0.9);
$color6:rgba(51,55,69,0.9);
$color7:rgba(255,255,255,0.9);
$color8:#999999;
$color9:#ea2e49;

